
<head>
    <meta charset="UTF-8">
    <title>CTLS</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <header class="header" id="header">  
        <a href="/landing">Home</a>  
        <a href="/tools">Search</a>
        <a href="/:username">Profile</a> 
        <a href="/toolsregister">Manage</a>
    </header>
    <h1>landing</h1>
    <div id="error" class="error" hidden></div>
    {{#if hasErrors}}
        <div class="error">Error: {{error}}</div>
    {{/if}} 
</body>