

<body>
    <h1>landing</h1>
    <div id="error" class="error" hidden></div>
    {{#if hasErrors}}
        <div class="error">Error: {{error}}</div>
    {{/if}}
    <a href="/tools">Tools</a>
    <a href="/ratings">Ratings</a>
    <a href="/users">Users</a>
    <a href="/landing">Home</a>    
</body>